@import "../../shared/styles.scss";

.footer {
  background-color: $color__neutral--very-dark-blue;
  padding: 3rem 0;
  @include tablet {
    text-align: center;
  }

  

  &-wrapper {
    display: flex;
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
    }
  }

  &__logo {
    @include tablet {
        margin-bottom: 2rem;
    }
    img {
      filter: invert(1) brightness(2);
    }
  }

  &__links {
    h3 {
      margin: 0;
      margin-bottom: 1rem;
      color: white;

      @include tablet {
        margin-bottom: 0.5rem;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        a {
          color: $color__neutral--gray;
          text-decoration: none;
          font-size: 0.75rem;
          font-weight: $typography__font-weight--regular;
          margin: 0.5rem 0;

          &:hover {
            color: $color__primary--cyan;
          }
        }
      }
    }

    &-box {
      display: flex;
      gap: 4rem;

      @include tablet {
        flex-direction: column;
        gap: 1.5rem
      }
    }
  }

  &__social-medias {
    display: flex;
    justify-content: center;
    gap: 1rem;

    @include tablet {
        margin-top: 1rem;
    }
  }

  &__social-media {
    svg {
        fill: white;
    
        &:hover {
          fill: $color__primary--cyan;
        }
      }
  }
}
